<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zk.system.mapper.WxkqMustBaseInfoMapper">
    
    <resultMap type="WxkqMustBaseInfo" id="WxkqMustBaseInfoResult">
        <result property="id"    column="id"    />
        <result property="logoUrl"    column="logo_url"    />
        <result property="codeType"    column="code_type"    />
        <result property="brandName"    column="brand_name"    />
        <result property="title"    column="title"    />
        <result property="color"    column="color"    />
        <result property="notice"    column="notice"    />
        <result property="description"    column="description"    />
        <result property="quantity"    column="quantity"    />
        <result property="type"    column="type"    />
        <result property="beginTimeStamp"    column="begin_time_stamp"    />
        <result property="endTimeStamp"    column="end_time_stamp"    />
        <result property="fixedTerm"    column="fixed_term"    />
        <result property="fixedBeginTerm"    column="fixed_begin_term"    />
    </resultMap>

    <sql id="selectWxkqMustBaseInfoVo">
        select id, logo_url, code_type, brand_name, title, color, notice, description, quantity, type, begin_time_stamp, end_time_stamp, fixed_term, fixed_begin_term from wxkq_must_base_info
    </sql>

    <select id="selectWxkqMustBaseInfoList" parameterType="WxkqMustBaseInfo" resultMap="WxkqMustBaseInfoResult">
        <include refid="selectWxkqMustBaseInfoVo"/>
        <where>  
            <if test="logoUrl != null  and logoUrl != ''"> and logo_url = #{logoUrl}</if>
            <if test="codeType != null  and codeType != ''"> and code_type = #{codeType}</if>
            <if test="brandName != null  and brandName != ''"> and brand_name like concat('%', #{brandName}, '%')</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="color != null  and color != ''"> and color = #{color}</if>
            <if test="notice != null  and notice != ''"> and notice = #{notice}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="beginTimeStamp != null "> and begin_time_stamp = #{beginTimeStamp}</if>
            <if test="endTimeStamp != null "> and end_time_stamp = #{endTimeStamp}</if>
            <if test="fixedTerm != null "> and fixed_term = #{fixedTerm}</if>
            <if test="fixedBeginTerm != null "> and fixed_begin_term = #{fixedBeginTerm}</if>
        </where>
    </select>
    
    <select id="selectWxkqMustBaseInfoById" parameterType="Long" resultMap="WxkqMustBaseInfoResult">
        <include refid="selectWxkqMustBaseInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWxkqMustBaseInfo" parameterType="WxkqMustBaseInfo">
        insert into wxkq_must_base_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="logoUrl != null">logo_url,</if>
            <if test="codeType != null">code_type,</if>
            <if test="brandName != null">brand_name,</if>
            <if test="title != null">title,</if>
            <if test="color != null">color,</if>
            <if test="notice != null">notice,</if>
            <if test="description != null">description,</if>
            <if test="quantity != null">quantity,</if>
            <if test="type != null">type,</if>
            <if test="beginTimeStamp != null">begin_time_stamp,</if>
            <if test="endTimeStamp != null">end_time_stamp,</if>
            <if test="fixedTerm != null">fixed_term,</if>
            <if test="fixedBeginTerm != null">fixed_begin_term,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="logoUrl != null">#{logoUrl},</if>
            <if test="codeType != null">#{codeType},</if>
            <if test="brandName != null">#{brandName},</if>
            <if test="title != null">#{title},</if>
            <if test="color != null">#{color},</if>
            <if test="notice != null">#{notice},</if>
            <if test="description != null">#{description},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="type != null">#{type},</if>
            <if test="beginTimeStamp != null">#{beginTimeStamp},</if>
            <if test="endTimeStamp != null">#{endTimeStamp},</if>
            <if test="fixedTerm != null">#{fixedTerm},</if>
            <if test="fixedBeginTerm != null">#{fixedBeginTerm},</if>
         </trim>
    </insert>

    <update id="updateWxkqMustBaseInfo" parameterType="WxkqMustBaseInfo">
        update wxkq_must_base_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="logoUrl != null">logo_url = #{logoUrl},</if>
            <if test="codeType != null">code_type = #{codeType},</if>
            <if test="brandName != null">brand_name = #{brandName},</if>
            <if test="title != null">title = #{title},</if>
            <if test="color != null">color = #{color},</if>
            <if test="notice != null">notice = #{notice},</if>
            <if test="description != null">description = #{description},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="type != null">type = #{type},</if>
            <if test="beginTimeStamp != null">begin_time_stamp = #{beginTimeStamp},</if>
            <if test="endTimeStamp != null">end_time_stamp = #{endTimeStamp},</if>
            <if test="fixedTerm != null">fixed_term = #{fixedTerm},</if>
            <if test="fixedBeginTerm != null">fixed_begin_term = #{fixedBeginTerm},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWxkqMustBaseInfoById" parameterType="Long">
        delete from wxkq_must_base_info where id = #{id}
    </delete>

    <delete id="deleteWxkqMustBaseInfoByIds" parameterType="String">
        delete from wxkq_must_base_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>